.interfacesBlock {
    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .interfaceInfo {
        p {
            margin: 0.3rem 0;

            strong {
                margin-right: 0.5rem;
            }
        }
    }
    .noNode {
        color: #6c757d;
        font-style: italic;
    }
}
