.metricsBlock {
    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .chartContainer {
        height: 250px;
        margin-bottom: 1rem;
    }

    .noNode {
        color: #6c757d;
        font-style: italic;
    }
}
